extends layout
block content
    div(class='container')
        div(class='slides')
            each item in data.text
                div(class='slide text-center text', data-type='text', data-item='#{item}')
                    p #{item}
            each item in data.images
                div(class='slide text-center image', data-type='image', data-item='#{item}')
                    img(src='/images/#{item}')
            each item in data.videos
                div(class='slide text-center video', data-type='video' data-item='#{item}')
                    p #{item}
