extends layout

block content
	div(class='navbar navbar-default navbar-fixed-top', role='navigation')
		div(class='container')
			div(class='navbar-header')
				button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
					span(class='sr-only') Toggle navigation
					span(class='icon-bar')
					span(class='icon-bar')
					span(class='icon-bar')
				a(class='navbar-brand', href='/') #{title}
			div(class='navbar-collapse collapse')
				div(class='navbar-form navbar-right')
					a(id='apOpen', class='btn btn-primary', href='#') Add Presentation
	div(class='container')
		div(class='presentations')
			table(class='table table-hover')
				thead
					tr
						th Presentation
				tbody(id='pList')
					each item in presentations
						tr(class='presentation', id = item.id)
							td(class='name') #{item.name}
							td
								div(class='btn-toolbar pull-right')
									a(href='/#{item.id}/control', class='control btn btn-primary', role='button') Control
									a(href='/#{item.id}/view', class='view btn btn-success', role='button') View
									a(data-id='#{item.id}', data-name='#{item.name}', class='delete btn btn-danger', role='button') Delete
	div(id='apDialog', class='presentationDialog', tabindex='-1', role='dialog', aria-hidden='true')
		div(class='container')
			form(class='form', role='form')
				div(class='form-group')
					label(for='presentationName', class='col-sm-2', control-label) Presentation name
					div(class='col-sm-10')
						input(type='text', class='form-control', id='apName', placeholder='Presentation name')
				div(class='form-group')
					div(class='col-sm-offset-2 col-sm-10')
						div(class='btn-toolbar')
							button(id='apButton', type='submit' class='btn btn-default') Add Presentation
							button(id='apClose', type='button' class='btn btn-default') Close
	div(id='dpDialog', class='presentationDialog', tabindex='-1', role='dialog', aria-hidden='true')
		div(class='container')
			p In order to delete please type the name of the presentation:&nbsp;
				span(id='enterDName')
			form(class='form', role='form')
				div(class='form-group')
					label(for='presentationName', class='col-sm-2', control-label) Presentation name
					div(class='col-sm-10')
						input(type='text', class='form-control', id='dpName', placeholder='Presentation name')
				div(class='form-group')
					div(class='col-sm-offset-2 col-sm-10')
						div(class='btn-toolbar')
							button(id='dpButton', type='submit' class='btn btn-default') Delete Presentation
							button(id='dpClose', type='button' class='btn btn-default') Close